:root {
    --primary-color: #3C6E71;
    --secondary-color: #70AE6E;
    --accent-color: #F4A259;
    --dark-color: #353535;
    --light-color: #F5F5F5;
    --board-light: #F0D9B5;
    --board-dark: #B58863;
}